language: python
python:
  - "2.7"
  - "3.4"
install: 
    - "pip install -r requirements.txt --use-mirrors"
    - "pip install pytest-cov"
    - "pip install coverage"
    - "pip install coveralls"
script: 
    - "coverage run --source=sandman2 setup.py test"
after_success:
    coveralls
