Flask==2.0.0
Flask-Admin==1.5.8
Flask-SQLAlchemy==2.5.1
SQLAlchemy==1.4.15
WTForms==2.3.3
coverage==5.5
pytest==6.2.4
Flask-Cors==3.0.10
pytest-cov==2.12.0
pytest-flask==1.2.0
six==1.16.0
wcwidth==0.2.5
Werkzeug==1.0.1
WTForms==2.3.3
zipp==3.4.0
