atomicwrites==1.3.0
attrs==19.1.0
Click==7.0
coverage==4.5.3
Flask==1.0.3
Flask-Admin==1.5.3
Flask-Cors==3.0.8
Flask-HTTPAuth==3.3.0
Flask-SQLAlchemy==2.4.0
importlib-metadata==0.18
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
more-itertools==7.1.0
pkg-resources==0.0.0
pluggy==0.12.0
py==1.8.0
pytest==4.5.0
pytest-cov==2.7.1
pytest-flask==0.15.0
six==1.12.0
SQLAlchemy==1.3.3
wcwidth==0.1.7
Werkzeug==0.15.4
WTForms==2.2.1
zipp==0.5.1
