Flask==2.3.2
Flask-Admin==1.6.1
Flask-SQLAlchemy==3.0.5
SQLAlchemy==2.0.17
WTForms==3.0.1
coverage==7.2.7
pytest==7.4.0
Flask-Cors==4.0.0
pytest-cov==4.1.0
pytest-flask==1.2.0
six==1.16.0
wcwidth==0.2.6
Werkzeug==2.3.6
WTForms==3.0.1
zipp==3.4.0
